
<div class="cart-container">
    <div class="cart-product-offer-section">
        <img class="cart-product-image" src="assets/cart-fish.png"/>
        <span class="cart-offer-box"><label>upto</label><label>20% <span>off</span></label></span>
    </div>
<div class="cart-description">
<label class="cart-title">
    Asmak Flavours Lemon and Herbs Sea-bream Fillet
</label>
<div class="cart-region-decs">
    <img src="assets/region.png"/>
    <label class="cart-region">
        India
    </label>
</div>
<div class="cart-amount-desc">
    <p><label>1200 <span>AED</span></label><label>70 AED</label></p>
<label class="cart-suppliers">Skyline Suppliers</label>
</div>
<div class="cart-action">
    <div>Add to cart</div>

</div>
</div>
</div>
