.parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #68A14B;
    width: 170px;
    padding-top: 10px;

}
.parent div{
     text-align: end;
    position: relative;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 1px solid red;
}.parent .outOfScope{
    position: absolute;
    left: 50%;
    width: 170px;
}