<!-- <div class="parent" [ngSwitch]="step" >
  <div >
   Dashboard
    <span *ngSwitchCase="1">
      <app-dialog-box (emitStep)="changeStep($event)" [step]="step"></app-dialog-box>
    </span>
 
  </div>
  <div>
 marketplace
    <span *ngSwitchCase="2">
      <app-dialog-box (emitStep)="changeStep($event)" [step]="step"></app-dialog-box>
    </span>
  </div>
  <div>
    Orders
    <span *ngSwitchCase="3">
      <app-dialog-box (emitStep)="changeStep($event)" [step]="step"></app-dialog-box>
    </span>
  </div>
  <div>
  Invoice
    <span *ngSwitchCase="4">
      <app-dialog-box (emitStep)="changeStep($event)" [step]="step"></app-dialog-box>
    </span>
  </div>
  <div class="outOfScope">
    out side scope
    <span *ngSwitchCase="5">
      <app-dialog-box (emitStep)="changeStep($event)" [step]="step"></app-dialog-box>
    </span>
  </div>
</div> -->
<app-cart-component></app-cart-component>

<!-- <app-dialog-box></app-dialog-box> -->